{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
    <div class="py-5 text-center">
        <h1 class="display-5">{{ 'home.heading'|trans }}</h1>
        <p class="lead">{{ 'home.lead'|trans }}</p>
    </div>
{% endblock %}
