{% extends 'base.html.twig' %}

{% block title %}Registration Confirmation{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-lg-6">
        <h1>Registration Confirmation</h1>
        {% if status == 'success' %}
            <div class="alert alert-success">Your registration has been confirmed. Thank you!</div>
        {% elseif status == 'expired' %}
            <div class="alert alert-warning">Sorry, this confirmation link has expired. Please submit a new registration.</div>
        {% elseif status == 'already' %}
            <div class="alert alert-info">This registration was already confirmed.</div>
        {% else %}
            <div class="alert alert-danger">Invalid confirmation link.</div>
        {% endif %}
        <a href="{{ path('app_home') }}" class="btn btn-secondary mt-3">Back to home</a>
    </div>
</div>
{% endblock %}
