<h2>Hello {{ registration.name }},</h2>
<p>Thanks for your registration for the {{ registration.department }} department event.</p>
<p>Please confirm your registration by clicking the link below:</p>
<p><a href="{{ confirmationUrl }}">Confirm my registration</a></p>
<p>This link will expire in 24 hours.</p>
<p>If you did not make this request, you can ignore this email.</p>
